[submodule "libraries/ioLibrary_Driver"]
	path = libraries/ioLibrary_Driver
	url = https://github.com/WIZnet/ioLibrary_Driver
[submodule "libraries/mbedtls"]
	path = libraries/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls
[submodule "libraries/pico-sdk"]
	path = libraries/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
